*{
    margin: 0;
    padding: 0;
}
.wrap{
    width: 100%;
    padding:2vw;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    background: #b8f6fe;
}

.wrap img{
    display: block;
    width: 19vw;
    height: 13vw;
    margin: 2vw;
}