*{
    margin: 0;
    padding: 0;
}
body{
    background: #b8f6fe;
}
.wrap{
    width: 100%;
    padding-left: 20px;
    padding-top:20px;
    box-sizing: border-box;
}

.wrap img{
    display: inline-block;
    margin-bottom: 20px;
    box-sizing: border-box;
}